<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }} {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav">
      {{ with .Site.Params.twitter }}
        <li>Twitter: <a href="https://twitter.com/{{.}}">@{{.}}</a></li>
      {{end}}

      {{ with .Site.Params.github }}
        <li>Github: <a href="https://github.com/{{.}}">{{.}}</a></li>
      {{end}}
    </ul>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
